
/* Header Layout */

header {
    background-color: #1C3D5A;
    color: #FFFFFF;
}


header div {
    display: flex;
    align-items: center;
    padding: .5rem ;
}

header div strong {
    padding-left: .5rem;    
}


/* Navbar Layout*/



#menu {
    position: absolute;
    top: 0;
    right: .3rem;
	font-size: 3rem;
	font-weight:700;
	text-decoration: none;
	color: #000000;
}

#darkMode {
    position: absolute;
    top: 1rem;
    right: 3.2rem;
    cursor: pointer;
}



.nav-list {
    background-color: #ffffff;
    margin: 0 auto;
    padding-left: 0;
    text-align: start;
    font-size: larger;
    font-weight: 900;
}


.nav-list li {
    display: none;
}

.nav-link {
    border-bottom: solid 1px gray;
    padding: 1rem;
    display: block;
    text-decoration: none;
    color:  #65a8ff;
}


.nav-link.active {
    color:#a6a6a6;

}

.nav-link:hover {
    color: #5599f4;
}


#menu::before {
    content: "≡";
}

#menu.show::before {
    content: "x";
}

.show li {
    display: block;
}


/* -------  Main Section  ---------*/


/* Directory page main layout*/ 

.directoryHeading {
    text-align: center;
    box-shadow: 2px 2px 1px 2px ;
}


.displayMenu {
    margin: 1rem;
    text-align: center;
}

.btnMenu {
    padding: 1rem;
    border-radius: 10px;
    background-color: #1C3D5A;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0 .5rem ;
    box-shadow: 2px 2px 2px #083350;
    
}

.btnMenu img {
    margin: 0;
    padding: 0;
    width: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    grid-gap: .5rem;
    margin: 1rem;
}

.grid section {
    margin: 0 auto;
    text-align: center;
    max-width: 300px;
    padding: 1rem;
    border: 2px solid #9bb4c7;
    background-color: #f0f4f8;
    color: #1a2e3b;
 
}

.grid section a,
.list section a {
    margin: 0 1rem;
    color: #175585;
}

.grid section img {
    border-radius: 10px;
    filter: drop-shadow(2px, 2px, 3px, black);
}


.grid section h2 {
    display: none;
}


.list {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    text-align: start;
    justify-content: space-between;
}

.list section {
    display: block;
    margin: 0;
    padding: 0.25rem;
    color: #1a2e3b;
    border: 1px solid #9bb4c7;
    align-items: center;
}


.list section > * {
    margin: 0 1rem;
}


.list section:nth-child(even) {
    background-color: #f0f4f8;
}


.list section img {
    display: none;
}


/* Home page to chamber of commerce (index.html) Layout */

.heroimg-container {
    margin: 1rem;
}


.info-container {
    background-color: #696868;

}

.info-container h2 {
    text-align: center;
    background-color: #2f2f2f;
    color: #ffffff;
}


.business-container {
    margin: 1rem;
    padding: .1rem;
    background-color: #696868;
    border-radius: 10px;
    text-align: center;
}


.business-info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Footer */

footer {
    background-color: #1C3D5A;
    padding: 1rem;
    color: #FFFFFF;
}

footer a {
    color: #ffc516;
    text-decoration: none;
}

footer a:hover {
    color: #ffbeaa;
}

#lastModified {
    color: #d0d0d0;
    font-weight: bold;
    font-size: large;
}




body.dark-mode {
    background-color: #1e1e1e;
    color: #E0E0E0;
  }

  
  header.dark-mode, footer.dark-mode {
      background-color: #1a2430;
      color: #d1dbe8;
      
  } 

main .dark-mode section {
    background-color: #2e3b4e;
    border: 2px solid #4a6078;
    color: #cdd6e2;
}

main .dark-mode section a{
    color: #74d9ff;
}

.dark-mode a {
    color: #68c2ff;

}

.dark-mode a:hover {
    color: #9ed6ff;
}

.dark-mode .nav-list {
    background-color: #1e1e1e ;
}


.dark-mode .list section{    
    background-color: #2e3b4e;
    border: 1px solid #4a6078;
    color: #cdd6e2;
    
}


.dark-mode .btnMenu {
    background-color: #1a2430;
    color: #68c2ff;
}