
/* Header Layout */

header {
    background-color: #1C3D5A;
}


header div {
    display: flex;
    align-items: center;
    padding: .5rem ;
}

header div strong {
    padding-left: .5rem;    
}


/* Navbar Layout*/



#menu {
    position: absolute;
    top: 0;
    right: .3rem;
	font-size: 3rem;
	font-weight:700;
	text-decoration: none;
	color: #000000;
}

#darkMode {
    position: absolute;
    top: 1rem;
    right: 3.2rem;
    cursor: pointer;
}



.nav-list {
    background-color: #ffffff;
    margin: 0 auto;
    padding-left: 0;
    text-align: start;
    font-size: larger;
    font-weight: 900;
}


.nav-list li {
    display: none;
}

.nav-link {
    border-bottom: solid 1px gray;
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: #1C3D5A;
}


.nav-link.active {
    color: #FF7F50;

}

.nav-link:hover {
    color: #FF7F50;
}


#menu::before {
    content: "≡";
}

#menu.show::before {
    content: "x";
}

.show li {
    display: block;
}


/* -------  Main Section  ---------*/


/* Directory page main layout*/ 


.displayMenu {
    margin: 1rem;
    text-align: center;
}

.btnMenu {
    padding: 1rem;
    border-radius: 10px;
    background-color: #1C3D5A;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0 .5rem ;
    box-shadow: 2px 2px 1px #FF7F50;
    
}

.btnMenu img {
    margin: 0;
    padding: 0;
    width: 20px;

}

/* Home page to chamber of commerce (index.html) Layout */

.heroimg-container {
    margin: 1rem;
}


.info-container {
    background-color: #696868;

}

.info-container h2 {
    text-align: center;
    background-color: #2f2f2f;
    color: #ffffff;
}


.business-container {
    margin: 1rem;
    padding: .1rem;
    background-color: #696868;
    border-radius: 10px;
    text-align: center;
}


.business-info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Footer */

footer {
    background-color: #1C3D5A;
    padding: 1rem;
}

#lastModified {
    color: #d0d0d0;
    font-weight: bold;
    font-size: large;
}




body.dark-mode {
    background-color: #1e1e1e;
    color: #E0E0E0;
  }


header.dark-mode {
  background-color: #1A1A1A;
}