* {
    box-sizing: border-box;
}

h1,h2,h3 {
    text-align: center;
}

/* Header Layout */



header {
    background-color: #1C3D5A;
    color: #FFFFFF;
}


img {
    max-width: 100%;
    max-height: fit-content;
}

header div {
    display: flex;
    align-items: center;
    padding: .5rem ;
}

header div strong {
    padding-left: .5rem;    
}

/* Navbar Layout*/



#menu {
    position: absolute;
    top: 0;
    right: .3rem;
	font-size: 3rem;
	text-decoration: none;
	color: #000000;
}

#darkMode {
    position: absolute;
    top: 1rem;
    right: 3.2rem;
    cursor: pointer;
}


.nav-list {
    background-color: #1a2430;
    margin: 0;
    padding-left: 0;
    text-align: start;
    font-size: larger;
    font-weight: 900;
}


.nav-link {
    padding: 1rem;
    display: block;
    text-decoration: none;
    color:  #65a8ff;
    color:  white;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.8s ease-out;
}

nav ul {overflow: hidden;}

nav.show {
    grid-template-rows: 1fr;
}




.nav-link.active {
    color: #5599f4;
    border-bottom: 1px solid;
}



.nav-link:hover {
    color: #5599f4;
}


#menu::before {
    content: "≡";
}

#menu.show::before {
    content: "\2718";
    font-size: 35px;
    padding-right: 4px;
}

/*
.show li {
    display: block;
}
*/

/* -------  Main Section  ---------*/

    /* Home page ( Index) */


.heroimg-container div {
    position: relative;
}

.hero-image-text {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: rgba(149, 112, 44);
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 2px black;
    padding: .5rem;
    border-radius: 10px;
    
}

.hero-image-text-2 {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: #ffffff89;
    color: rgb(149, 112, 44);
    border-radius: 5px;
    
}


.hero-image-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);   
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #212529;
}
.hero-image-button:hover {
    background: #fff;
    color: #212529; 
}


/*  Event section   */

.events-list {
    padding: 1rem;
}




.flex {
    display: flex;
}

#weatherContainer {
    border-left: 2px solid beige;
    padding-left: 1rem;
}


.info-container h2 {
    background-color: rgba(255, 255, 255,.2);
    margin: 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dark-mode .info-container h2 {
    background-color: rgba(0, 0, 0,.2);
    color: teal;
}

.article-container {
    text-align: center;
    margin: .5rem;
    background-color: rgb(101, 101, 25);
    background-color: rgb(140, 175, 215);
    border-radius: 10px;
    padding: .5rem;
}



.dark-mode .article-container {
    background-color: #1C3D5A;
}

/*
.business-container {
    margin: 1rem;
    padding: .1rem;
    background-color: #696868;
    border-radius: 10px;
    text-align: center;
}

*/
/*________________________________________________________________________________*/


.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 100px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center; }

    .card-image {
        grid-area: image;
      }
      .card-text {
        grid-area: text;
      }
      .card-stats {
        grid-area: stats; 
      }


      .card-image {
        grid-area: image;
        background: url("../images/agronasaja-logo.png");
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .card-text {
        grid-area: text;
        margin: 25px;
      }
      .card-text .date {
        color: rgb(255, 7, 110);
        font-size:13px;
      }
      .card-text p {
        color: grey;
        font-size:15px;
        font-weight: 300;
      }
      .card-text h2 {
        margin-top:0px;
        font-size:28px;}

        .card-stats {
            grid-area: stats; 
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            background: rgb(255, 7, 110);
          }

          .card-stats .stat {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
            padding:10px;
          }

/*________________________________________________________________________________*/


.business-container{
    display: grid;
    grid-template-columns: 300px;
    text-align: center;
    justify-content: center;
    grid-template-rows: 100px 100px 250px;
}
.business-container div{
    border: solid 3px ;
 }

 bg-image {
    background-image: url(images/apple-logo.png);
    object-fit: cover;
}

.business-info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.grid-3-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
    margin: 0 .5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#weatherForecastContainer div {
    border: 1px solid beige;
    background-color: rgb(140, 175, 215);
    border-radius: 20px;
}

.dark-mode #weatherForecastContainer div {
    background-color: #1C3D5A;
}

.forecast-article-container{
    text-align: center;
    border-radius: 10px;
}

    /* Directory page main layout*/ 

.directoryHeading {
    text-align: center;
    box-shadow: 2px 2px 1px 2px ;
}


.displayMenu {
    margin: 1rem;
    text-align: center;
}

.btnMenu {
    padding: 1rem;
    border-radius: 10px;
    background-color: #1C3D5A;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0 .5rem ;
    box-shadow: 2px 2px 2px #083350;
    
}

.btnMenu img {
    margin: 0;
    padding: 0;
    width: 20px;
}


.grid section {
    margin: .5rem;
    text-align: center;
    min-width: 300px;
    padding: 1rem;
    border: 2px solid #9bb4c7;
    background-color: #f0f4f8;
    color: #1a2e3b;
 
}

.grid section a,
.list section a {
    margin: 0 1rem;
    color: #175585;
}

.grid section img {
    border-radius: 10px;
    filter: drop-shadow(2px 2px 3px black);
}


.grid .showName {
    display: block;
}


.list {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    text-align: start;
    justify-content: space-between;
}

.list section {
    display: block;
    margin: 0;
    padding: 0.25rem;
    color: #1a2e3b;
    border: 1px solid #9bb4c7;
    align-items: center;
}


.list section > * {
    margin: 0 1rem;
}


.list section:nth-child(even) {
    background-color: #f0f4f8;
}


.list section img {
    display: none;
}


/*  JOIN US LAYOUT      */


.joinUsForm fieldset{
    margin: 2rem 2%;
    border: 1px solid #ddd;
    padding: .5rem 2%; 
}

.joinUsForm legend{ 
    color: #445ba9;
    padding: 0 .5rem;
}
.joinUsForm label {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;
} 
.joinUsForm div { 
    padding-top: 1rem;
    color: #445ba9;
    font-size: .9rem;
}
.joinUsForm textarea {
    display: block;
    background-color: #eee;
    border: solid 1px #999;
    border-radius: 6px;
    color: #555;
    width: 100%;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    max-width: 400px;
    appearance: none;
}

.joinUsForm input[type="text"],
.joinUsForm input[type="tel"],
.joinUsForm input[type="email"],
.joinUsForm input[type="url"],
.joinUsForm input[type="number"]
{
    display: block;
    background-color: deeppink;
    background-color: #eee;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}


.joinUsForm input[type="radio"],
.joinUsForm input[type="checkbox"] {
    margin-right: 6px;
}

.joinUsForm input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e); 
    color: #fff;
    border-radius: 6px;
    padding: .75rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 0 2rem 4%;
}

.joinUsForm input:required {
    /*background-color: red;*/

/*    border: solid 2px red;*/
    border-right: solid 8px red;
}


.joinUsForm input:required:valid {
    border-right: solid 8px green;
}
.membership-container h2 { 
    color: #445ba9
}

.membership-container {
    margin: 2rem 2%;
    border: 1px solid #ddd;
    padding: .5rem 2%; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

.membership-card h3 {
    color: #9c2c13
}
.membership-card {
    margin: 2rem auto;
    background-color: beige;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.membership-card img {
    width: 60%;
    border-radius: 50%;
}
.membership-card button {
    background-color: #1C3D5A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: .5rem 0;
    
}
.membership-card button:hover {
    background-color: #2C4D6A;
}

/* Footer */

footer {
    background-color: #1C3D5A;
    padding: 1rem;
    color: #FFFFFF;
}

footer a {
    color: #ffc516;
    text-decoration: none;
}

footer a:hover {
    color: #ffbeaa;
}

.social-media-container a>img {
    margin: .5rem;
}


#lastModified {
    color: #d0d0d0;
    font-weight: bold;
    font-size: large;
}




body.dark-mode {
    background-color: #1e1e1e;
    color: #E0E0E0;
  }

  
  header.dark-mode, footer.dark-mode {
      background-color: #1a2430;
      color: #d1dbe8;
      
  } 

main .dark-mode section {
    background-color: #2e3b4e;
    border: 2px solid #4a6078;
    color: #cdd6e2;
}

main .dark-mode section a{
    color: #74d9ff;
}

.dark-mode a {
    color: #68c2ff;

}

.dark-mode a:hover {
    color: #d1dbe8;
    color: white;
}

.dark-mode .nav-list {
    background-color: #1e1e1e ;
}


.dark-mode .list section{    
    background-color: #2e3b4e;
    border: 1px solid #4a6078;
    color: #cdd6e2;
    
}


.dark-mode .btnMenu {
    background-color: #1a2430;
    color: #68c2ff;
}