@media screen and (min-width: 600px) {
    

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1.5rem;
        
    }

        
    #darkMode {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        font-size: 3rem;
        font-weight:700;
        cursor: pointer;
    }

    .nav-list {
        border-bottom: none;
        display: flex;
        padding-right: 2.5rem;
        background-color: inherit;
    }
    
    .nav-list li {
        display: block;
        flex: 1 1 100%;
    }

    .nav-link {
        padding: .5rem;
        border-bottom: none;
    }

    .dark-mode .nav-list {
        background-color: inherit;
    }

    nav {
        grid-template-rows: 1fr;
    }


    #menu {
        display: none;
    }


.heroimg-container {
    width: 100%;
}
.hero-image-button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);   
    min-width: 200px;
    height: 50px;
}
.hero-image-button:hover {
    background: #fff;
    color: #212529; 
}

    

    /* Directory layout..*/
    
    
    .list section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    


}