body {
    font-family: "Roboto", sans-serif; 
}

h1,h2,h3,h4 {
    font-family: "Poppins", sans-serif;;
}

header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    background-color: #2C3E50;
    color: #ECF0F1;
}

header > h1 {
    padding-left: 10px;
    font-weight: 600;
    font-size: larger;
    transition: 2000ms;
}

header > img {
    padding-left: 3rem;
    border-radius: 5px;
}


#menu {
    position: absolute;
    top: .5rem;
    left: 1rem;
	font-size: 3rem;
	font-weight:700;
	text-decoration: none;
	color: #000000;
}

.nav-list {
    margin: 0;
    padding-left: 0;
    text-align: center;
    list-style-type: none;
    font-size: larger;
    font-weight: 900;
    background-color: #000000;
}

.nav-link {
    color: beige;
    padding: .2rem;
    display: block;
    text-decoration: none;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {overflow: hidden;}

nav.show {
    grid-template-rows: 1fr;
}

/*
.nav-list li {
    display: none;
}
*/

.nav-link:hover {
    color: beige;
    background-color: rgba(255, 255, 255, .2);
}

/* Link de course added dynamically with JavaScript (courseArray.js) line 155.. */

.course-link {
    text-decoration: none;
    color: #00645a;
}

.course-link:hover {
    color: #9024a2;
}

.nav-link.active {
    color: #3498DB;
}

#menu::before {
    content: "≡";
}

#menu.show::before {
    content: "x";
}

/*
.show li {
    display: block;
}

*/

.section-container-I,
.section-container-II,
.section-container-III{
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(213, 200, 221, 0.606);
    border-radius: 10px;
    margin: 1rem;
    
    overflow: hidden;
}

.section-heading {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    background-color: #3498DB ;
    padding: .5rem;
}


.cabj-stadium-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
 
.cabj-stadium-desc {
    margin: 0 auto;
    box-sizing: border-box;
    width: 250px;
    margin-top: -5px;
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: #222;
    color: aliceblue;
    opacity: .9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font: italic smaller sans-serif;
  }

  #filtered {
    box-sizing: border-box;
    margin: 0 auto;
    border-bottom: 3px rgba(213, 200, 221, 0.606) solid;
}

  #filtered button {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    padding: .5rem;
    border-radius: 10%;
    background-color: black;
    color: #ECF0F1;
  }

footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: .2rem;
    background-color: #2C3E50;
    color: #ECF0F1;
}


#lastModified {
    color: #d0d0d0;
    font-weight: bold;
    font-size: large;
}


dialog {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
  }
  
  ::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }